# Backend
finpilot-backend/target/
*.class

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.iml
# Crash logs
*.log
hs_err_*.log
replay_*.log

# Context docs
finpilot-backend/src/main/java/com/finpilot/finpilot_backend/*.pdf

api key
ml-service\.env

# Python
ml-service/venv/
ml-service/__pycache__/
**/__pycache__/
*.pyc